# Editor config
.vscode
.idea

# Venvs
.env
.venv
venv

# Keys
mockfog.pem

# Ansible files
**/*.retry

# Stuff
**/__pycache__
.DS_Store
logs/
deploy/vars/main.yml
topology.json
topology/testbed_definition.yml